.gri-slider
    &__panel        
        width: 100%
        padding: 1rem         
        @include flex-mixin
        flex-wrap: wrap

        &::-webkit-scrollbar            
            width: 7px    

        &::-webkit-scrollbar-thumb
            background: pink         
            border-radius: 0.25rem
            opacity: 0.2 

        &_dot
            width: 1.3em
            height: 1.3em
            border-radius: 50%
            border: 2px solid
            margin: 0.5rem
            cursor: pointer

            &.active                
                box-shadow: 2px 2px 10px, -2px -2px 10px
                transform: scale(1.07) 
                        
        &_btn            
            width: 35px
            height: 35px
            cursor: pointer
            margin: 0.7rem
            @include flex-mixin
            border-radius: 50%
            padding: 0.25rem
            transition: 0.25s all linear

            img
                @include size-mixin
                
            &:hover
                transform: scale(1.07)

            &.active               
                box-shadow: 2px 2px 10px, -2px -2px 10px pink
                transform: scale(1.07) rotateZ(41deg) perspective(500px)